<div class="alert-container">
  <div *ngIf="err" class="custom-alert">
    <span (click)="closeAlert()"></span>
    Invalid Credentials
  </div>
</div>

<div class="card">

  <form (ngSubmit)="onSubmit()">
    <div>
      <h1>Login</h1>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input [(ngModel)]="credentials.username" matInput name="name" type="text">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="credentials.password" matInput name="password" type="text">
      </mat-form-field>
    </div>
    <button button class="btn" mat type="submit">Login</button>
  </form>
</div>
