<form #productForm="ngForm" (ngSubmit)="addProduct()">
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <div class="row mt-4">
    <div class="col-2" style="margin-left: 18%;">
      <label class="label">Select Category</label>
      <select (change)="onCategoryChange()" (change)="checkFirstDropdown(selectedCategory)" [(ngModel)]="selectedCategory"
              class="form-control" name="selectedCategory">
        <option value="">Select</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="col-2">
      <label class="label">Select Product</label>
      <select [(ngModel)]="selectedProduct" class="form-control" name="selectedProduct">
        <option value="">Select</option>
        <option *ngFor="let product of selectedCategoryProducts" [value]="product">{{ product }}</option>
      </select>
    </div>
    <input [(ngModel)]="product.qty" class="form-control" name="quantity" placeholder="Enter Quantity"
           style="width: 9pc;height: fit-content;margin-top: 26px;" type="number">

    <button class="Addbtn" type="submit">Add</button>
  </div>
</form>

<div class="row mt-4" style="margin-left: 30%;">
  <app-table
    (clickOnDelete)="deleteRow($event)"
    [columns]="columns"
    [deleteButtonEnabled]="true" [tableData]="cartItems">
  </app-table>
</div>

<div class="row mt-4">
  <div class="col-2" style="margin-left: 18%;">
    <label class="label">Select Payment Type</label>

    <select [(ngModel)]="pType" class="form-control" name="paymentType">
      <option value="">Select</option>
      <option value="Cash">Cash</option>
      <option value="E-Pay">E-Pay</option>
      <option value="Debt">Debt</option>
    </select>

  </div>
  <input [(ngModel)]="cName" class="form-control" name="customerName" placeholder="Customer Name"
         required style="width: 9pc;height: fit-content;margin-top: 1.6pc;" type="text">

</div>

<div class="row1">
  <tr>
    <td>Total:{{ total }}</td>
  </tr>
</div>
<!--<button (click)="checkOut($event)"></button>-->
<button (click)="checkOut(cartItems)" class="Checkout" type="button">CheckOut</button>

