<form #productForm="ngForm" (ngSubmit)="addProduct()">
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <div class="row mt-4">
    <div class="col-2" style="margin-left: 18%;">
      <label class="label">Select Category</label>
      <select class="form-control" [(ngModel)]="selectedCategory" (change)="onCategoryChange()"
              (change)="checkFirstDropdown(selectedCategory)" name="selectedCategory">
        <option value="">Select</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="col-2">
      <label class="label">Select Product</label>
      <select class="form-control" [(ngModel)]="selectedProduct" name="selectedProduct">
        <option value="">Select</option>
        <option *ngFor="let product of selectedCategoryProducts" [value]="product">{{ product }}</option>
      </select>
    </div>
    <input type="number" class="form-control" [(ngModel)]="product.qty" name="quantity"
           placeholder="Enter Quantity" style="width: 9pc;height: fit-content;margin-top: 26px;">

    <button type="submit" class="Addbtn">Add</button>
  </div>
</form>

<div class="row mt-4" style="margin-left: 30%;">
  <app-table
    [columns]="columns"
    [tableData]="cartItems"
    [deleteButtonEnabled]="true">
  </app-table>
</div>

<div class="row mt-4">
  <div class="col-2" style="margin-left: 18%;">
    <label class="label">Select Category</label>

    <select class="form-control" [(ngModel)]="pType" name="paymentType" required>
      <option value="">Select</option>
      <option value="">Cash</option>
      <option value="">E-Pay</option>
      <option value="">Debt</option>
    </select>

  </div>
  <input type="text" class="form-control" [(ngModel)]="cName" name="customerName"
         placeholder="Customer Name" style="width: 9pc;height: fit-content;margin-top: 1.6pc;" required>

</div>

<div class="row1">
  <tr>
    <td>Total:{{ total }}</td>
  </tr>
</div>
<button type="submit" class="Checkout" (submit)="checkOut()">CheckOut</button>

