

<div  *ngIf="errorMessage" class="error-message" >{{ errorMessage }}</div>
<div class="row mt-4" >
    <div class="col-2" style="margin-left: 18%;">
        <label for="" class="label">Select Category</label>
        <select class="form-control" [(ngModel)]="selectedCategory" (change)="onCategoryChange()"
            (change)="checkFirstDropdown(selectedCategory)">
            <option value="">Select</option>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>
    <div class="col-2" >
        <label for="" class="label">Select Product</label>
        <select class="form-control" [(ngModel)]="selectedProduct"  >
            <option value="">Select</option>
            <option *ngFor="let product of selectedCategoryProducts"  [value]="product" >{{product}}</option>
        </select>
        </div>
        <input type="number" [(ngModel)]="product.qty" [value]="product.qty" placeholder="Enter Quantity" style="width: 8pc;height: fit-content;margin-top: 32px;">
        <button class="Addbtn" (click)="addProduct()" >Add</button>       

    </div>
    
    <div class="row mt-4" style="margin-left: 10px;">
            <app-my-table [HeadArray]="headArray" [gridArray]="cartItems" (onDelete)="deleteRow($event)"   >
            </app-my-table>
             
        </div>
        <div class="row1" >
            <tr>
                <td >Total:{{total}}</td> 
            
            </tr>
</div>
