<div class="card" style="width: 30rem">
<form style="display: flex; flex-direction: column;"(ngSubmit)="updateProduct(product)">
  <div class="text-center">
  <h2>Product Update</h2>
  </div>
    <div class="form-group">
        <label>Product id</label>
        <input type="text" class="form-control" id="id"  [(ngModel)]="product.id" name="id" readonly>
      </div>
    <div class="mb-1">
      <label>Product Name</label>
      <input type="text" class="form-control" id="name"
       [(ngModel)]="product.name" name="name">
    </div>
    <div class="mb-3">
      <label>Quantity</label>
      <input type="text" class="form-control" id="qty"
       [(ngModel)]="product.qty" name="Quantity">
    </div>
    <div class="mb-3">
        <label>Price</label>
        <input type="text" class="form-control" id="Price"
        [(ngModel)]="product.price" name="price">
      </div>
      <div>
        <label>Category</label>
        <input type="text" class="form-control" id="Category"
        [(ngModel)]="product.category" name="Category">
      </div>
  <div class="text-center" style="margin-top: 2px">
    <button type="submit"  class="btn btn-success" >Update</button>
  </div>
</form>
</div>

