<div class="card">
<form (ngSubmit)="updateProduct(product)">
  <div class="text-center">
    <h2>Product Update</h2>
  </div>
    <div class="form-group">
      <div class="mb-1">
      <label>Product id</label>
        <input type="text" class="form-control" id="id"  [(ngModel)]="product.id" name="id" readonly>
      </div>
    <div class="mb-1">
      <label>Product Name</label>
      <input type="text" class="form-control" id="name"
       [(ngModel)]="product.name" name="name">
    </div>
    <div class="mb-3">
      <label>Quantity</label>
      <input type="text" class="form-control" id="qty"
       [(ngModel)]="product.qty" name="Quantity">
    </div>
    <div class="mb-3">
        <label>Price</label>
        <input type="text" class="form-control" id="Price"
        [(ngModel)]="product.price" name="price">
      </div>
      <div>
        <label>Category</label>

        <input matInput type="text" [(ngModel)]="product.category" name="category" hidden="true">
        <select class="form-control" [(ngModel)]="product.category" name="category" style="margin-top: 16px">
          <option value="">Select</option>
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>

      </div>

    <div class="text-center" >
    <button type="submit"  class="btn-anim4" >Update</button>
  </div>
    </div>
</form>
</div>

