<section>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" >
        <thead>
            <tr>
                <th>Sr</th>
                <th *ngFor="let head of HeadArray">{{head.Head}}</th>
                 </tr>
                
        </thead>
    </table>
</div>

<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
         <tbody>

            <tr *ngFor="let item of gridArray; let sr=index ">
                <td>{{sr+1}}</td>
            <td *ngFor="let head of HeadArray">
                <div *ngIf="head.FieldName!=''" class="field-container" >
                    {{item[head.FieldName]}}                
                </div>

                <div *ngIf="head.FieldName==''" style="margin-left:-5px;">
                      <button class="btn btn-sm btn-danger"  (click)="delete(item)"><i class="bi bi-trash"></i></button>    
                      <button class="btn btn-sm btn-primary" (click)="edit(item)" style="margin-left:10px"><i class="bi bi-pencil-square"></i></button>              
                </div>
            </td>
            </tr>
           
        </tbody> 
    </table>
    </div>

  