<table [dataSource]="_dataSource" class="table border " mat-table matSort>
  <ng-container *ngFor="let c of columns" matColumnDef={{c.caption}}>
    <div *ngIf="c.caption==='Action'">
      <th *matHeaderCellDef mat-header-cell>{{ c.caption }}</th>
    </div>
    <div *ngIf="c.caption!=='Action'">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="{{c.field}}">{{ c.caption }}</th>
    </div>
    <td *matCellDef="let element" mat-cell>

      <div *ngIf="!c.isClickable" [innerHTML]="getDataByField(element, c.field)"></div>

      <ng-container *ngIf="c.caption==='Action'" class="bg-white">
        <div *ngIf="c.field!=null">
          <!--          <button [disabled]="!viewButtonEnabled" [ngStyle]="{'border':'none'}" *ngIf="c.field.includes('view')" class="btn btn-sm"><img src="" (click)="clickOnView.emit(element)" alt="cross icon"></button>-->
          <button *ngIf="c.field.includes('edit')" [disabled]="!updateButtonEnabled" [ngStyle]="{'border':'none'}"
                  class="btn btn-sm">
            <!--            <img src="../../../assets/edit.png"-->
            <!--                 alt="edit button"-->
            <!--                 (click)="clickOnEdit.emit(element)">-->
            <i (click)="clickOnEdit.emit(element)" class="material-icons" style="margin-left: -15px">edit</i>

          </button>
          <button *ngIf="c.field.includes('delete')" [disabled]="!deleteButtonEnabled" [ngStyle]="{'border':'none'}"
                  class="btn btn-sm">
            <!--img disabled-->
            <!--            <img-->
            <!--            src=""-->
            <!--            alt="delete button"-->
            <!--            (click)="clickOnDelete.emit(element)">-->
            <i (click)="clickOnDelete.emit(element)" class="material-icons">delete</i>
          </button>
        </div>
        <div *ngIf="c.field==null || c.field=='Action' || c.field=='action' || c.field==''" class="position">
          <!--          <button class="btn btn-sm"><img src="../../../assets/icons/eye.svg" (click)="clickOnView.emit(element)"-->
          <!--                                          alt="cross icon"></button>-->
          <button class="btn btn-sm">
            <i (click)="clickOnEdit.emit(element)" class="material-icons" style="margin-left: -15px">edit</i>


          </button>
          <button class="btn btn-sm">
            <i (click)="clickOnDelete.emit(element)" class="material-icons">delete</i>
          </button>
        </div>
      </ng-container>
      <!-- <ng-container *ngIf="c.isClickable" class="bg-white">
        <div *ngIf="c.imageSrc!=null">
          <img src="{{c.imageSrc}}" alt="{{c.field}}">
        </div>
        <div *ngIf="c.field!=null">
          <a [routerLink]='getDataByField(element, c.field)'>{{c.label}}</a>
        </div>
      </ng-container>
    </td> -->
      <ng-container *ngIf="c.isClickable" class="bg-white">
        <div *ngIf="c.imageSrc!=null">
          <img [alt]="c.field" [src]="c.imageSrc">
        </div>
        <div *ngIf="c.field!=null">
          <a [routerLink]="c.isClickable? getDataByField(element, c.field): null">{{c.label}}</a>
        </div>
      </ng-container>
      <ng-container *ngIf="!c.isClickable" class="bg-gray">
        <div *ngIf="c.field!=null">
          <span>{{c.label}}</span>
        </div>
      </ng-container>

    </td>
  </ng-container>
  <thead>

  <tr *matHeaderRowDef="displayedColumns;sticky: true" class="thead" mat-header-row></tr>

  <tr *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="{'striped-row': i%2==0, 'white-row': i%2==1}"
      class="custom-cell" mat-row></tr>
  </thead>
  <tr class="mat-row">
    <td class="mat-cell bg-white" colspan="displayedColumns.length"> Data not Found</td>
  </tr>
</table>

<mat-paginator *ngIf="pagination" [pageSizeOptions]="[20,40,60]" aria-label="Select pages" class="page"
               showFirstLastButtons>
</mat-paginator>


