<div class="card">
  <div *ngIf="err">
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Enter Data
    </div>
  </div>
 <form (ngSubmit)="onSubmit()" >
   <div>
     <h1>Add Product</h1>
   </div>
  <div class="mb-3" >
    <mat-form-field appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput type="text" [(ngModel)]="product.name" name="name">
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput type="text" [(ngModel)]="product.qty" name="quantity">
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="text" [(ngModel)]="product.price" name="price">
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Select Category</mat-label>

      <input matInput type="text" [(ngModel)]="product.category" name="category" hidden="true">
      <select class="form-control" [(ngModel)]="product.category" name="category" >
<!--        <option value="">Select</option>-->
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </mat-form-field>
  </div>
       <button mat button type="submit" class="btn">Add</button>
</form>
</div>
