<div class="card">
  <div *ngIf="err">
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Enter Data
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <h1>Add Product</h1>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Product Name</mat-label>
        <input [(ngModel)]="product.name" matInput name="name" type="text">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input [(ngModel)]="product.qty" matInput name="quantity" type="text">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input [(ngModel)]="product.price" matInput name="price" type="text">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Select Category</mat-label>

        <input [(ngModel)]="product.category" hidden="true" matInput name="category" type="text">
        <select [(ngModel)]="product.category" class="form-control" name="category">
          <!--        <option value="">Select</option>-->
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
      </mat-form-field>
    </div>
    <button button class="btn" mat type="submit">Add</button>
  </form>
</div>
