body {
    background: rgba( 71, 147, 227, 1) !important;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.body {
    /* Optionally, you can apply styles to the .body class if needed */
}