<!-- <div class="card" style="width: 50rem;margin-top: 2%;" > -->
<input (input)="onSearch()" [(ngModel)]="searchQuery" class="search-bar" placeholder="Search..." style="width: 27rem;margin-top: 1%; margin-bottom: 0.5%"
       type="text">
<app-table (clickOnDelete)="delete($event.name)"
           (clickOnEdit)="update($event.id)"
           [columns]="columns"
           [deleteButtonEnabled]="true"
           [tableData]="filteredProducts"
           [updateButtonEnabled]="true"
>
</app-table>
<!--<button [ngStyle]="{'border':'none'}"  class="btn btn-sm"><img src="../../../assets/edit.png" alt="edit button"></button>-->


<!--<app-my-table [isAction]="true"  [HeadArray]="headArray" [_dataSource]="filteredProducts"-->
<!--    (onEdit)="update($event.id)" (onDelete)="delete($event.name)"   ></app-my-table>-->
<!-- </div> -->
