.search-bar {
  margin-left: 32%;
  box-shadow: 0 0 5px rgba(255, 183, 108, 0.72),
  0 0 25px rgba(227, 137, 15, 0.63),
  0 0 50px rgba(227, 137, 15, 0.62),
  0 0 100px #03e9f4;

}

.search-bar:hover {
  box-shadow: 0 0 5px #f40303,
  0 0 25px #f40303,
  0 0 50px #03e8f4d2,
  0 0 100px #03e9f4;
}
