.mat-form-field {
  margin: 0.5%;
}

.error-message {
  margin: 0.5%;

  margin-left: 3%;
}

/* Style the mat-form-field */
.mat-form-field {
  width: 30%;
}

/* Style the input within mat-form-field */
.mat-form-field.mat-focused .mat-form-field-label {
  color: #57622d; /* Change label color when focused */
}

/* Style the mat-datepicker-toggle */
.mat-datepicker-toggle {
  color: #57622d; /* Change icon color */
}

/* Style the mat-datepicker-toggle on hover */
.mat-datepicker-toggle:hover {
  color: #4CAF50; /* Change icon color on hover */
}

/* Style the placeholder text */
.mat-form-field-placeholder {
  color: #57622d; /* Change placeholder text color */
}


