<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>


<mat-form-field appearance="outline" class="mat-form-field">

  <input matInput formControlName="releasedAt" placeholder="Pick a date"
         [matDatepicker]="releasedAtPicker" (dateChange)="dateChanged($event)">

  <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">

  </mat-datepicker-toggle>

  <mat-datepicker #releasedAtPicker [startAt]="selectedDate">

  </mat-datepicker>

</mat-form-field>

<app-table [columns]="columns" [tableData]="sales" ></app-table>
